<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div layout:fragment="main_page">
    <input type="hidden" id="movieId">

    <div class="row mb-3" sec:authorize="hasAnyRole('ROLE_ADMIN')">
        <div class="col-6 mx-auto">
            <div class="row mt-3">
                <div class="col-12">
                    <label>NAME : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" id="movieName">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>DESCRIPTION : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <textarea class="form-control" id="description"></textarea>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>BUDGET : </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="number" class="form-control" id="budget">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>BOX OFFICE: </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" id="boxOffice">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>GENRE: </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" id="genre">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <label>DURATION: </label>
                </div>
            </div>
            <div class="row mt-2">
                <div class="col-12">
                    <input type="text" class="form-control" id="duration">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <button class="btn btn-success" onclick="addMovie()">ADD MOVIE</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                    <th>GENRE</th>
                    <th>DETAILS</th>
                    <th style="width: 10%;">VIEW MORE</th>
                </tr>
                </thead>
                <tbody id="movieListBody">
                </tbody>
            </table>

            <div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                 aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">

                    <div class="modal-content" sec:authorize="!hasAnyRole('ROLE_ADMIN')">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Movie Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>NAME : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" readonly class="form-control" id="movieNameDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>DESCRIPTION : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <textarea rows="5" class="form-control" readonly id="descriptionDetails"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>BUDGET : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" readonly class="form-control" id="budgetDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>BOX OFFICE: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" readonly class="form-control" id="boxOfficeDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>GENRE: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" readonly class="form-control" id="genreDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>DURATION: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" readonly class="form-control" id="durationDetails">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="deleteCourse()">ClOSE</button>
                            <button type="button" class="btn btn-primary" onclick="updateCourse()">OK</button>
                        </div>
                    </div>

                    <!-------------------------------------------------------------------------------------------------------------------------------------------------------->

                    <div class="modal-content" sec:authorize="hasAnyRole('ROLE_ADMIN')">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">Movie Details</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>NAME : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="movieNameDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>DESCRIPTION : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <textarea rows="5" class="form-control" id="descriptionDetails"></textarea>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>BUDGET : </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" class="form-control" id="budgetDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>BOX OFFICE: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" class="form-control" id="boxOfficeDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>GENRE: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="text" class="form-control" id="genreDetails">
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-12">
                                    <label>DURATION: </label>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-12">
                                    <input type="number" class="form-control" id="durationDetails">
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" onclick="deleteMovie()">DELETE</button>
                            <button type="button" class="btn btn-primary" onclick="updateMovie()">SAVE</button>
                        </div>
                    </div>


                </div>
            </div>

        </div>
    </div>

    <script type="text/javascript">
        loadMovie();

        function loadMovie() {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/movie", true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {

                    let parse = JSON.parse(httpRequest.responseText);

                    // for (let i = 0; i < parse.length; i++) {
                    //     console.log(parse[i].title + " " + parse[i].description + " " + parse[i].budget )
                    // }
                    let tableContent = "";
                    for (let i = 0; i < parse.length; i++) {
                        tableContent += "<tr>";
                        tableContent += "<td>" + parse[i].id + "</td>";
                        tableContent += "<td>" + parse[i].name + "</td>";
                        tableContent += "<td>" + parse[i].genre + "</td>";
                        tableContent += "<td><button class='btn btn-primary btn-sm' onclick='openMovieDetailsModal(" + parse[i].id + ")'>DETAILS</button></td>";
                        tableContent += "<td><a href='/movie-details/" + parse[i].id + "' class='btn btn-warning btn-sm'>VIEW MORE</a></td>";
                        tableContent += "</tr>";
                    }
                    document.getElementById("movieListBody").innerHTML = tableContent;
                }
            };
            httpRequest.send();
        }

        function openMovieDetailsModal(id) {


            detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("GET", "/movie/" + id, true);
            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    let result = JSON.parse(httpRequest.responseText);

                    console.log(result)
                    movieId.value = result.id;
                    movieNameDetails.value = result.name;
                    descriptionDetails.value = result.description;
                    budgetDetails.value = result.budget;
                    boxOfficeDetails.value = result.boxOffice;
                    genreDetails.value = result.genre;
                    durationDetails.value= result.duration;

                    detailsModal.show();

                }
            }
            httpRequest.send();
        }

        function addMovie() {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("POST", "/movie", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");


            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    movieName.value = "";
                    description.value = "";
                    budget.value = "";
                    boxOffice.value = "";
                    genre.value = "";
                    duration.value = "";
                    loadMovie();

                }
            };
            let body = {
                'id': movieId.value,
                'name': movieName.value,
                'description': description.value,
                'budget': budget.value,
                'boxOffice': boxOffice.value,
                'genre': genre.value,
                'duration': duration.value
            };

            body = JSON.stringify(body);

            httpRequest.send(body);
        }

        function updateMovie() {

            const httpRequest = new XMLHttpRequest();
            httpRequest.open("PUT", "/movie", true);
            httpRequest.setRequestHeader("Content-Type", "application/json");


            httpRequest.onreadystatechange = function () {
                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                    loadMovie();
                    detailsModal.hide();
                }
            };
            let body = {
                'id': movieId.value,
                'name': movieNameDetails.value,
                'description': descriptionDetails.value,
                'budget': budgetDetails.value,
                'boxOffice': boxOfficeDetails.value,
                'genre': genreDetails.value,
                'duration': durationDetails.value
            };

            body = JSON.stringify(body);

            httpRequest.send(body);
        }


        function deleteMovie() {

            let approve = confirm("Are you sure?");

            if (approve) {

                const httpRequest = new XMLHttpRequest();
                httpRequest.open("DELETE", "/movie/" + movieId.value, true);
                httpRequest.setRequestHeader("Content-Type", "application/json");

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        detailsModal.hide();
                        loadMovie();
                    }
                }
                httpRequest.send();
            }
        }
    </script>
</div>
</html>