</html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html">
<div layout:fragment="main_page">
    <div class="row">
        <div class="col-6 mx-auto">
            <div class="alert alert-danger" role="alert" th:if="${param.password_mismatch!=null}">
                Passwords are not the same
            </div>
            <div class="alert alert-danger" role="alert" th:if="${param.old_password_error!=null}">
                Old password is incorrect
            </div>
            <div class="alert alert-success" role="alert" th:if="${param.success!=null}">
                Password changed Successfully
            </div>
            <form action="/to-update-password" method="post">



                <div class="row mt-3">
                    <div class="col-12">
                        <label>Old Password: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="password" class="form-control" name="oldPassword">
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-12">
                        <label>New PASSWORD: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="password" class="form-control" name="newPassword">
                    </div>
                </div>


                <div class="row mt-3">
                    <div class="col-12">
                        <label>Repeat New PASSWORD: </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <input type="password" class="form-control" name="repeatNewPassword">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <button class="btn btn-success">UPDATE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</html>